{
  "presets": [
    "flow",
    ["env", {
      "targets": {
        "browsers": ["> 1%"]
      },
      "modules": false
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "dev-server": {
      "presets": [
        "react-hmre"
      ]
    },
    "test": {
      "presets": [
        "es2015"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties"
      ]
    }
  }
}
